<!doctype html>
<html>
<title> Not Found! </title>
<style>
body
{
background-image:url('3d-man-text-try-again-clipart_csp24875117.jpg');
background-repeat:no-repeat;
background-position:fixed;
background-size:75%;
text-align:center;
}
.a2
{
font-size:3em;
color:black;
text-shadow:0.5px 0.5px red;
  padding:3px 2px;
  box-sizing:border-box;
}
h3:hover:not(.active)
{
color:red;
}
</style>
<body>
	<p>
		<center> 
			<h3 class="a2"> Looks like you have ventured too far out! </h3>
			<br />
			<h3 class ="a2"> Why don't you go <a href = "/">back</a> and try again? </h3>
		</center>
	</p>
</body>
</html>
